<html ng-app="farmApp">
  <head>
    <meta charset="utf-8">
    <title>Farm Scheduler</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
      // var apiURL = "https://immense-ravine-9825.herokuapp.com/";
      var apiURL = "http://localhost:3000/";

      var farmApp = angular.module('farmApp', []);

      farmApp.controller('ScheduleCtrl', function ($scope, $http){

        $scope.access_code = '';

        $scope.loadHappenings = function() {
          $http.get(apiURL + 'happenings.json?access_code=' + $scope.access_code)
          .success(function(data) {
            $scope.happenings = data;
          });
        };

        $scope.addHappening = function() {
          $http.post(apiURL + 'happenings?access_code=' + $scope.access_code,
            {
              subject: $scope.subject,
              start_date: $scope.start_date,
              end_date: $scope.end_date
            })
          .success(function(data) {
            $scope.loadHappenings();
            $scope.subject = '';
            $scope.start_date = '';
            $scope.end_date = '';
          });
        };

        $scope.removeHappening = function(id) {
          $http.delete(apiURL + 'happenings/' + id + '?access_code=' + $scope.access_code)
          .success(function(data) {
            $scope.loadHappenings();
          });
        };

        $scope.checkCode = function() {
          $scope.loadHappenings();
        };

        $('.date').datepicker({
          dateFormat: "M d, yy",
          onSelect: function(date) {
            $scope[$(this).attr('ng-model')] = date;
            $scope.$apply();
          }
        });
      });

    </script>

    <link href='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css' rel='stylesheet'>

  </head>
  <body ng-controller="ScheduleCtrl">

    <form ng-submit='checkCode()'>
      <label>Access Code: </label>
      <input ng-model='access_code' type='password'/>
      <input type='submit'/>
    </form>

    <table>
      <tr>
        <th>Subject</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <tr ng-repeat="happening in happenings">
        <td>{{happening.subject}}</td>
        <td>{{happening.start_date | date}}</td>
        <td>{{happening.end_date | date}}</td>
        <td><a href='' ng-click='removeHappening(happening.id)'>Delete</a></td>
      </tr>
      <tr>
        <form ng-submit="addHappening()">
          <td><input ng-model='subject' type='text'/></td>
          <td><input ng-model='start_date' class='date' type='text'/></td>
          <td><input ng-model='end_date' class='date' type='text'/></td>
          <td><input type='submit'/></td>
        </form>
      </tr>
    </table>
  </body>
</html>
